html {
    scroll-behavior: smooth;
  }

body {
   
    /* background: linear-gradient(to bottom, #9ed1e2, #22226b); */
    min-height: 0vh;



    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: #0a315c;
    margin: 0;
    padding: 0;
    background-image:url(./images/star_fixed.png),url(/images/fon_nov.png);
    background-position:5% 9%,center; 
    background-size:5%,cover; 
    background-repeat:no-repeat,no-repeat; 
    background-attachment:fixed,fixed;
    background-size: cover;
    background-size: 105;
}

h1 {
    font-family: 
}

/* Шапка */
header {
    opacity: 90%;
    padding: 50px;
    width: 110%;
    position: fixed;
    background-image:url(/images/fon2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    position: relative;
    width: 700px;
    height: 400px;
  }
  .wrapper .img{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .wrapper .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    clip-path: circle(0% at 0% 100%);
    transition: all 0.7s;
  }
  #one:checked ~ .img-1 img{
    clip-path: circle(150% at 0% 100%);
  }
  #two:checked ~ .img-1 img,
  #two:checked ~ .img-2 img{
    clip-path: circle(150% at 0% 100%);
  }
  #three:checked ~ .img-1 img,
  #three:checked ~ .img-2 img,
  #three:checked ~ .img-3 img{
    clip-path: circle(150% at 0% 100%);
  }
  #four:checked ~ .img-1 img,
  #four:checked ~ .img-2 img,
  #four:checked ~ .img-3 img,
  #four:checked ~ .img-4 img{
    clip-path: circle(150% at 0% 100%);
  }
  #five:checked ~ .img-1 img,
  #five:checked ~ .img-2 img,
  #five:checked ~ .img-3 img,
  #five:checked ~ .img-4 img,
  #five:checked ~ .img-5 img{
    clip-path: circle(150% at 0% 100%);
  }
  .wrapper .sliders{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    display: flex;
  }
  .wrapper .sliders label{
    border: 2px solid rgb(142,197,252);
    width: 13px;
    height: 13px;
    margin: 0 3px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  #one:checked ~ .sliders label.one,
  #two:checked ~ .sliders label.two,
  #three:checked ~ .sliders label.three,
  #four:checked ~ .sliders label.four,
  #five:checked ~ .sliders label.five{
    width: 35px;
    border-radius: 14px;
    background: rgb(142,197,252);
  }
  .sliders label:hover{
    background: rgb(142,197,252);
  }
  input[type="radio"]{
    display: none;
  }
/* 
.wrapper {
    width: 100%;
    padding: 80px 20% 80px 20%;
    box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.2);
  }
  
  #header .wrapper {
    position: fixed;
    color: #fff;
    background-color: #495e79;
    z-index: 9999;
    padding: 0px 20% 20px 20%;
  }
  
  #header:after,
  #block1:after,
  #footer:after,{
    display: block;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding-top: 200px;
    text-align: center;
    font-weight: 100;
  }

  #header:after {
    content: "vertex";
    background-image: url(images/fon2.jpg);
    font-size: 100px;
  }
  
  #block1:after {
    content: "Advanced Online Solutions";
    background-image: url(images/fon.png);
    font-size: 30px;
    padding-top: 100px;
  }
  
  #footer:after {
    content: "";
    background-image: url(images/fon2.jpg);
  }
   */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9ac3e4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(53, 19, 116, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: ease 0.5s;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    text-shadow: #0a315c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: #0a315c;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #a7acce;
}

/* Секції */
.screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

/* Кнопки */
.anchor-button {
    background-color: #007bff;
    color: white;
    text-shadow: #0a315c;
    padding: 10px 20px;
    border-radius: 20%;
    cursor: pointer;
    transition: 0.8s ease;
}

.anchor-button:hover {
    background-color: #0a315c;
}

.sprite-button {
    /* Додайте свій спрайт тут */
}

/* Слайд-шоу */
.slideshow-container {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Фотогалерея */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 200px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
}

#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#lightbox-image {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Форми */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.pressbox {
	width: 0; 
	height: 0; 
	position: fixed; 
	overflow: hidden; 
	left: 0; 
	top: 0; 
	z-index: 9999; 
	text-align: center; 
	background: rgba(0,0,0,0.7);
} 
.pressbox img {
	
	opacity: 0; 
	padding: 10px; 
	background: #b497db; 
    color: white;
	margin-top: 100px; 
	box-shadow: 0px 0px 15px #444; 
	transition: opacity .25s ease-in-out;
} 

.pressbox:target { 
	width: auto; 
	height: auto; 
	bottom: 0; 
	right: 0; 
} 
.pressbox:target img {
	opacity: 1; 
}

.footer {
    background-color: rgba(80, 120, 180, 0.8);
}

.music {
   width: 5px;
}

#up {
    display: block;
    width: 80px;
    height: 20px;
    color: rgb(182, 238, 255);
    text-align: center;
    position: fixed;
    bottom: 64px;
    left: 70px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(175, 230, 255);
    border-image: initial;
    padding: 5px;
    border-radius: 50%;
}

/* Адаптивний дизайн */
@media (max-width: 768px) {
    nav ul {
        display: grid;
        flex-direction: column;
    }

    .sandwich-menu {
        display: block;
    }
}
